$primaryColor: #dc765d;

html {
  -webkit-tap-highlight-color:transparent;
}

body{
  background: $primaryColor;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;

  #root{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;

    font-size: 18px;
    font-family: monospace;
    color: #e4e4e4;

    .center{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .input-container{

        input{
          margin: 0 12px;
        }

      }

      #namesContainer{
        display: flex;
        height: 30px;
        margin-top: 12px;
      }

    }

    .end-container{

      text-align: center;

    }

    .legend-container {

      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 12px;
      text-align: center;
      width: 100%;

    }

    .create-new-container{

      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 12px;
      text-align: center;
      width: 100%;
      a{
        color: #e4e4e4;

      }
    }

    #wheel-container{

      display: flex;
      flex-grow: 1;
      position: relative;
      justify-content: center;
      margin: 24px;
      .pie-title{
        fill: #ffffff;
        font-size: 15px;
        font-family: sans-serif;
      }

      .wheel-center{

      }

      .btn-whell{

        fill: $primaryColor;
        font-weight: bold;
        font-size: 40px;

      }

      text{
        font-size: 11px;
        pointer-events:none;
      }
      #chart{
        display: flex;
        flex-grow: 1;
        justify-content: center;
      }

      #result{

        position: absolute;
        bottom: 0;
        h1{
          font-size: 50px;
          font-weight: bold;
        }
      }
    }

    #link{

      font-size: 0.7em;

    }

    #copy-btn{
      margin-top: 12px;
      box-sizing: content-box;
      padding: 0 1.5em;
      border: 1px solid rgba(211,211,211,1);
      border-radius: 0.2em;
      font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
      color: rgba(114,114,114,1);
      background: rgba(234,234,234,1);
      box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) , 0 1px 0 0 rgba(0,0,0,0.298039);
      text-shadow: 0 1px 0 rgba(255,255,255,0.8);
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
      transform: scaleX(1) scaleY(1) scaleZ(1);
      transform-origin: 50% 50% 0;
    }

    .icon-cast{

      width: 65px;
      height: 65px;
      margin: 0 auto;
      cursor: pointer;

    }

  }

  .show-anim-fast{
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    animation: anim-show .3s ease-in-out;
    display: block;
    transform: scale(1);
    opacity: 1;
  }

  @keyframes anim-show{
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: flex;
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

}
